@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<CWSWeb.Models.Admin.Access>

@{
    ViewBag.Title = "Administration &raquo; Access control";
    Layout = "layout.cshtml";
}
@if (ViewBag.KickMessage != null)
{
    if (ViewBag.RequiresDelay != null)
    {
        @:<a href="@Url.Content("~/admin/")">
    }

    <p class="message">@ViewBag.KickMessage</p>

    if (ViewBag.RequiresDelay != null)
    {
        @:</a>
    }
}
@if (ViewBag.RequiresDelay == null)
{
    if (!CWSWeb.Helper.CachedVariables.Stats.Enabled)
    {
        <p class="message">Statistics are not enabled. Please enable statistics in order to use access control.</p>
    }
    else
    { 
        <ul class="connected">
            @if(Model.ConnectedPlayers.Count > 0)
            {
                <li>The players listed below are currently connected.</li>
                
                foreach (string s in Model.ConnectedPlayers)
                { 
                    <li>@CWSWeb.Helper.PlayerIdentification.IdentifyPlayer(s) (<a href="@Url.Content("~/admin/access/kick/" + s)">Kick</a> | <a href="javascript:addList('@s')">Add to list</a>)</li>
                }
            }
            else
            {
                <li>No one is connected at the moment.</li>
            }
        </ul>
        
        <form action="@Url.Content("~/admin/access/")" method="post">
            <div class="accessList">
                <div class="header">Access list</div>
                <textarea name="List" id="list">@{
        foreach (string s in Model.ListEntries)
        { 
                    @s;
                    @System.Environment.NewLine;
        }
                }</textarea>
                <table class="actionThree" style="box-sizing: border-box; width: 100%">
                    <tr>
                        <td style="box-sizing: border-box; text-align: right">Use list as</td>
                        <td><select size="1" style="box-sizing: border-box; width: 100%" name="Mode">
                            <option @{
        if (Model.AccessMode == ServerService.AccessControl.AccessMode.Blacklist)
        { 
            @:selected="selected"
        }
                            }>Blacklist</option>
                            <option@{
        if (Model.AccessMode == ServerService.AccessControl.AccessMode.Whitelist)
        { 
            @:selected="selected"
        }
                            }>Whitelist</option>
                            </select></td>
                        <td><button type="submit" style="width: 100%; box-sizing:border-box">Save settings</button></td>
                    </tr>
                </table>
            </div>
        </form>
    }
}

@section js
{
    <script type="text/javascript">
        function addList(ip) {
            $("#list").val($("#list").val() + "\n" + ip);
        }
    </script>
}
