@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>@{
        if (ViewBag.Title != "")
        {
        @Html.Raw(ViewBag.Title);
        }
        else
        { 
        @:A CubeWorld Server Page
        }
    }</title>

    <script src="/static/js/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="/static/js/jquery.flot.js" type="text/javascript"></script>
    <script src="/static/js/jquery.flot.time.js" type="text/javascript"></script>
    <script src="/static/js/jquery.flot.selection.js" type="text/javascript"></script>

    <link href="@Url.Content("~/static/css/style.css")" rel="stylesheet" />

    @if (IsSectionDefined("js"))
    {
        @RenderSection("js");
    }
</head>
<body>
    <header>
        <h1>@{ 
            if (ViewBag.Title != "")
            { 
            @Html.Raw(@ViewBag.Title);
            }
        }
        </h1>
        @{
            if (Url.RenderContext.Context.CurrentUser != null)
            { 
            <span class="userbar">Logged in as @(((CWSWeb.Helper.Users.Administrator)Url.RenderContext.Context.CurrentUser).UserName) | <a href="/admin/logout">Logout</a>
            </span>
            }
            
            <span class="navigation">
                @if (Url.RenderContext.Context.CurrentUser != null)
                { 
                    @:<a href="/admin/">Controlpanel</a> | <a href="/admin/access">Access control</a> | <a href="/admin/statistics">Statistics</a> | 
                }
                @if (CWSWeb.Helper.CachedVariables.PremiumslotsEnabled)
                { 
                    @:<a href="/premium/" class="premium">Premium login</a>
                }
            </span>
        }
    </header>
    <div id="container">
        <section>
            @RenderBody()
        </section>
    </div>
    <footer>
        <p>This data is gathered using <a href="http://chrisk91.github.io/CWSRestart/">CWSRestart</a>. Underlying data is updated every five seconds.</p>
    </footer>
</body>
</html>
